
.p2{
    font-size: 18px;
    background-color: rgb(5, 8, 13);
    text-align: center;
    color: rgb(150, 8, 8);
    font-weight: bold;

}


.poster-con{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    row-gap: 5vh;
}

.MinPoster:hover{
    animation:PosterGlow 0.7s ;

}
@keyframes PosterGlow{
    0% {transform: rotatey(0deg);}
    100% {transform: rotatey(360deg)}
}

.h-mov{
    background-color: rgba(30, 29, 29, 0.850);
    font-size: 40px;
    display: block;
    text-align: center;
    text-shadow:  1px 1px 3px  red;
    line-height: 8vh;
    color: black;
}

@media (max-width: 600px) {
    .poster-con{
        flex-direction: column;
    }
  }