.vid-3x4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 5vh;
}

h1{
    color: #9b0303;
    font-size: 18px;
    background-size: 7ch;
    text-align: center;
    font-weight: bold;
}
.h-vid{
    background-color: rgba(30, 29, 29, 0.850);
    font-size: 40px;
    display: block;
    text-align: center;
    text-shadow:  1px 1px 3px  red;
    line-height: 8vh;
    color: black;
    font-weight: bold;

}
.vid-bg {
    background-color: black;
    color: #ff0000;
    font-size: 18px;
    background-size: 7ch;
    line-height: 1vh;
}

.vid-bg:hover{
    animation: BgGlow 0.2s;
    animation-fill-mode: forwards;
    



   

}

 /* @keyframes BgTurn{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}  */
@keyframes BgGlow{
    0%   {box-shadow: 0px 0px 0px 0px   whitesmoke;}
    15%  {box-shadow: 1px 1px 3px 3px   whitesmoke;}
    30%  {box-shadow: 2px 2px 6px 6px   whitesmoke;}
    45%  {box-shadow: 3px 3px 9px 9px   whitesmoke;}
    60%  {box-shadow: 4px 4px 10px 10px whitesmoke;}
    75%  {box-shadow: 5px 5px 13px 13px whitesmoke;}
    90%  {box-shadow: 6px 6px 15px 15px whitesmoke;}
    100% {box-shadow: 7px 7px 17px 17px whitesmoke;}



}


@media (max-width: 600px) {
    .vid-3x4{
    
        flex-direction: column;
    }
  }